<template>
    <tr class="bg-white dark:bg-gray-800">
        <td class="p-1">
            <select v-model="weaponRange" class="bg-gray-600 px-4 py-2 rounded">
                <option disabled selected>Weapon Type</option>
                <option :value="3">Berserker Axe</option>
                <option :value="3">Scourge</option>
                <option :value="2">Javelin</option>
                <option :value="2">Ettin Axe</option>
                <option :value="2">Small Cresent</option>
                <option :value="2">War Spike</option>
                <option :value="2">Devil Star</option>
                <option :value="2">Tyrant Club</option>
                <option :value="2">Caduceus</option>
                <option :value="2">Seraph Rod</option>
                <option :value="2">Mythical Sword</option>
                <option :value="1">Legendary Mallet</option>
                <option :value="1">Tomahawk</option>
                <option :value="1">Bone Knife</option>
                <option :value="1">Fanged Knife</option>
                <option :value="1">Legend Spike</option>
                <option :value="1">Mithril Point</option>
                <option :value="1">Reinforced Mace</option>
                <option :value="1">Trauncheon</option>
                <option :value="1">Mighty Scepter</option>
                <option :value="1">Ataghan</option>
                <option :value="1">Conquest Sword</option>
                <option :value="1">Elegant Blade</option>
                <option :value="1">Hydra Edge</option>
                <option :value="1">Falcata</option>
            </select>
        </td>
        <td class="p-1">
            <select v-model="charClass" class="bg-gray-600 px-4 py-2 rounded">
                <option value="" disabled selected>class</option>
                <option value="Amazon">Jab</option>
                <option value="Barbarian">Conc</option>
                <option value="Paladin">Zeal</option>
                <option value="Druid">Fury</option>
            </select>
        </td>

        <td class="p-1">
            <input
                v-model="blockRate"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Faster Block Rate %"
            />
        </td>

        <td class="p-1">
            <input
                v-model="hitRecovery"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Faster Hit Recovery %"
            />
        </td>

        <td class="p-1">
            <select
                v-model="iasBreakpoint"
                class="bg-gray-600 px-4 py-2 rounded"
            >
                <option disabled selected>IAS Breakpoint</option>
                <option :value="4.8">Fury 6/4/4/4/8</option>
                <option :value="5">Fury 6/4/4/4/7</option>
                <option :value="5.2">Fury 5/4/4/4/7</option>
                <option :value="5.4">Fury 5/4/4/4/6</option>
                <option :value="6.3">Fury 5/3/3/3/6</option>
                <option :value="5.2">Zeal 4 Frame</option>
                <option :value="2.5">Normal/Conc/Maul/Feral 10 Frame</option>
                <option :value="2.77">Normal/Conc/Maul/Feral 9 Frame</option>
                <option :value="4.16">Jab 6 Frame</option>
                <option :value="4.41">Jab 5.66 Frame</option>
                <option :value="4.69">Jab 5.33 Frame</option>
                <option :value="5">Jab 5 Frame</option>
                <option :value="5.36">Jab 4.66 Frame</option>
                <option :value="5.77">Jab 4.33 Frame</option>
                <option :value="6.25">Jab 4 Frame</option>
                <option :value="3.12">Normal/Maul/Feral 8 Frame</option>
                <option :value="3.57">Normal/Maul/Feral 7 Frame</option>
                <option :value="4.16">Normal/Maul/Feral 6 Frame</option>
                <option :value="6.25">4 Frame Whirlwind</option>
            </select>
        </td>
        <td class="p-1">
            <input
                v-model="level"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Level"
            />
        </td>

        <td class="p-1">
            <input
                v-model="attackRating"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Attack Rating"
            />
        </td>

        <td class="p-1">
            <input
                v-model="baseDefense"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Base Defense"
            />
        </td>

        <td class="p-1">
            <input
                v-model="defenseAmplify"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Skill Defense %"
            />
        </td>
        <td class="p-1 grid justify-center items-center">
            <input
                v-model="isWearingFort"
                type="checkbox"
                class="bg-gray-600 px-4 py-2 rounded"
            />
        </td>

        <td class="p-1">
            <input
                v-model="minusDefense"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Minus Defense %"
            />
        </td>

        <td class="p-1">
            <input
                v-model="life"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Life"
            />
        </td>
        <td class="p-1">
            <input
                v-model="minDamage"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Minimum Damage"
            />
        </td>
        <td class="p-1">
            <input
                v-model="maxDamage"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Maximum Damage"
            />
        </td>
        <td class="p-1">
            <input
                v-model="deadlyStrike"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Deadly Strike %"
            />
        </td>
        <td class="p-1">
            <input
                v-model="crushingBlow"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Crushing Blow %"
            />
        </td>

        <td class="p-1">
            <input
                v-model="openWounds"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Open Wounds %"
            />
        </td>

        <td class="p-1">
            <input
                v-model="damageReduce"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Damage Reduce %"
            />
        </td>

        <td class="p-1">
            <input
                v-model="lifeLeech"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Life Leech %"
            />
        </td>
        <td class="p-1 grid justify-center items-center">
            <input
                v-model="lifeTap"
                type="checkbox"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="wearing exile?"
            />
        </td>

        <td class="p-1">
            <input
                v-model="pdr"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="PDR"
            />
        </td>

        <td class="p-1">
            <input
                v-model="zonDodge"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Dodge % (Zon only)"
                v-if="charClass === 'Amazon'"
            />
        </td>

        <td class="p-1">
            <input
                v-model="zonInnerSight"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Inner Sight -def % (Zon only)"
                v-if="charClass === 'Amazon'"
            />
        </td>

        <td class="p-1">
            <input
                v-model="barbCritStrike"
                type="number"
                class="bg-gray-600 px-4 py-2 rounded"
                placeholder="Crit Strike % (barb only)"
                v-if="charClass === 'Barbarian'"
            />
        </td>
    </tr>
</template>

<script setup>
import { ref } from "vue";
let weaponRange = ref(0);
let charClass = ref("");
let blockRate = ref(0);
let hitRecovery = ref(0);
let iasBreakpoint = ref(0);
let level = ref(0);
let attackRating = ref(0);
let baseDefense = ref(0);
let defenseAmplify = ref(0);
let isWearingFort = ref(true);
let minusDefense = ref(0);
let life = ref(0);
let minDamage = ref(0);
let maxDamage = ref(0);
let deadlyStrike = ref(0);
let crushingBlow = ref(0);
let openWounds = ref(0);
let damageReduce = ref(0);
let lifeLeech = ref(0);
let lifeTap = ref(0);
let pdr = ref(0);
let zonDodge = ref(0);
let zonInnerSight = ref(0);
let barbCritStrike = ref(0);

defineExpose({ weaponRange });
</script>
  