
<template>
    <div>
        <table>
            <thead class="text-gray-900 uppercase dark:text-gray-200">
                <tr class="bg-white dark:bg-gray-900">
                    <!---->
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Weapon Type
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Class
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Faster Block Rate %
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        FHR %
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        IAS Breakpoint
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Level
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Attack Rating
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Base Defense
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Skill Defense % (Holy Shield, Iron Skin, Defiance, etc.)
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Wearing Fortitude?
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        - % Defense
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Life
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Min Dmg
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Max Dmg
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Deadly Strike %
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Crushing Blow %
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Open Wounds %
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Damage Reduced %
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Life Leech %
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Exile Life Tap?
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        PDR
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Dodge % (Zon Only)
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        -def from IS (Zon Only)
                    </th>
                    <th
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        Crit Strike %(Barb Only)
                    </th>
                </tr>
            </thead>
            <tbody class="text-gray-900 dark:text-gray-200">
                <opponent ref="opponentOne" />
                <opponent ref="opponentTwo" />
            </tbody>
        </table>
        <a v-if="opponentOne && opponentTwo">{{ rangeAdd }}</a>
    </div>
</template>

<script setup>
import { ref, onMounted, computed } from "vue";
let opponentOne = ref(null);
let opponentTwo = ref(null);

let rangeAdd = computed(()=>{
    return opponentOne.value.weaponRange + opponentTwo.value.weaponRange
})
</script>